@charset "UTF-8";

:root {
  --min-width: 320px;
  --font-family: "Times New Roman";
  --spring-wood: #f2efe5;
  --team-bg: #ccc8b6;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.menu {
  max-width: 770px;
  margin: 0 auto;
  padding: 25px 15px 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__icon {
  display: none;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.menu__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  position: relative;
  overflow: hidden;
}

.menu__item:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu__link {
  color: #000;
  text-transform: uppercase;
  line-height: 1.5;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 22px 48px;
  border: 10px solid #000;
  display: inline-block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: var(--min-width);
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
  font-family: var(--font-family);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: var(--font-family);
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}

.main__slider {
  width: 100%;
}

.slider__body .swiper-slide {
  width: 100%;
}

.slider__body .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-image: url("../img/about/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  height: 100%;
}

.intro-about__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--spring-wood);
}

.intro-about__info {
  padding: 0 10px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro-about__decor {
  margin-bottom: 30px;
}

.intro-about__suptext {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.intro-about__text {
  font-size: 16px;
  line-height: 1.5;
}

.gallery-about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  position: relative;
  cursor: pointer;
}

.item-about:hover .item-overlay {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.item-about img {
  width: 100%;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--spring-wood);
  opacity: 0.7;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.item-overlay__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-overlay__icon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.item-overlay__icon:hover svg {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  fill: red;
}

.item-overlay__links {
  margin-top: 30px;
}

.item-overlay__links .item-overlay__icon:nth-child(2) {
  margin: 0 40px;
}

.quote__wrapper {
  background-image: url("../img/testimonial/testimpnial-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.quote__wrapper .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote__slider {
  padding: 75px 10px 35px;
}

.quote__body {
  color: #fff;
  font-style: italic;
  max-width: 860px;
  text-align: center;
}

.quote__text {
  position: relative;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  padding: 45px 0;
}

.quote__text::before,
.quote__text::after {
  content: '“';
  position: absolute;
  font-size: 150px;
}

.quote__text::before {
  top: -45px;
  left: -70px;
}

.quote__text::after {
  right: -70px;
  bottom: -45px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quote__autor {
  margin-top: 60px;
  text-transform: uppercase;
  text-align: right;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.team__item-intro {
  background-image: url("../img/team/team-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__item-img {
  width: 100%;
}

.team__item-info {
  background-color: var(--team-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

.team__item-info::before {
  content: '';
  position: absolute;
  top: 115px;
  border: 10px solid transparent;
  z-index: 5;
  left: -25px;
  border-right: 15px solid var(--team-bg);
}

.team__item-info:nth-child(2)::before {
  left: -25px;
  border-right: 15px solid var(--team-bg);
}

.team__item-info__form {
  background-color: var(--spring-wood);
}

.team__item-wrapper {
  max-width: 500px;
  padding: 0 10px;
}

.team__item-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.team__item-title_small {
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  font-weight: 700;
}

.team__item-text {
  text-align: left;
  margin: 40px 0;
  font-size: 16px;
  line-height: 1.2;
}

.team__item-text_small {
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 250px;
  text-align: left;
}

.team__item-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item-icon svg {
  width: 32px;
  height: 32px;
  fill: #000;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.team__item-input {
  width: 100%;
  text-transform: uppercase;
  color: #9a977a;
  padding: 12px 0 12px 20px;
  border: 1px solid #000;
  font-size: 12px;
  line-height: 1.8;
  font-weight: 700;
  background-color: transparent;
  margin: 40px 0 22px;
}

.team__item-btn {
  display: block;
  border: none;
  background-color: #9a977a;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 0;
  font-size: 12px;
  line-height: 1.8;
}

.twit__wrapper {
  background-image: url("../img/quote-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.twit__body {
  max-width: 930px;
}

.twit__text {
  font-size: 22px;
  line-height: 1.5;
  font-style: italic;
  font-weight: 700;
  color: var(--spring-wood);
  padding: 0 10px;
}

.twit__icon {
  display: block;
  margin: 0 auto 30px;
  width: 32px;
  height: 32px;
  fill: var(--spring-wood);
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.gallery__item_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--team-bg);
}

.gallery__item-overlay {
  background-color: var(--team-bg);
  opacity: 0.7;
}

.contact__wrapper {
  background-color: #e7e5d0;
  padding: 150px 0;
}

.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -65px;
}

.contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 65px;
}

.contact__item_left {
  text-align: center;
}

.contact__title {
  margin-bottom: 60px;
}

.contact__text {
  font-size: 18px;
  max-width: 500px;
}

.contact__icons {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__input {
  margin: 0px 0px 60px 0px;
  border-width: 2px;
}

.contact__schedule {
  padding: 50px 0 100px;
}

.contact__message {
  width: 100%;
  min-height: 216px;
  background-color: transparent;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 18px 0 0 18px;
  margin: 0px 0px 40px 0px;
  resize: none;
}

.contact__btn {
  max-width: 370px;
}

.schedule-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px;
}

.schedule-contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 20px;
  text-align: left;
}

.schedule-contact__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin: 0px 0px 20px 0px;
}

.schedule-contact__item {
  margin: 0px 0px 5px 0px;
  text-transform: uppercase;
}

.schedule-contact__item span {
  font-weight: 700;
  text-transform: none;
}

.schedule-contact__link {
  text-transform: uppercase;
}

.schedule-contact__link span {
  font-weight: 700;
  text-transform: none;
}

.schedule-contact .schedule-contact__column {
  padding: 0 10px;
}

.map__wrapper iframe {
  width: 100%;
  min-height: 800px;
}

.header__menu {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 4;
}

.header__logo {
  display: none;
  position: relative;
  z-index: 3;
  width: 100%;
}

.footer__wrapper {
  padding: 150px 0 50px;
  background-color: #aeaeae;
}

.footer__menu {
  margin-bottom: 60px;
}

.footer__menu .menu__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy {
  font-weight: 700;
  text-align: center;
}

.footer__copy p {
  margin-top: 2px;
}

.footer__copy img {
  margin-right: 5px;
}

@media (min-width: 992.98px) {
  .menu__item:hover::before,
  .menu__item:focus::before {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

@media (min-width: 992px) {
  .team__item-icon:hover svg {
    fill: blue;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

@media (max-width: 1240px) {
  .item-overlay .item-overlay__links .item-overlay__icon:nth-child(2) {
    margin: 0 20px;
  }
}

@media (max-width: 1074px) {
  .contact .contact__wrapper {
    padding: 100px 0;
  }

  .contact .contact__items {
    margin: 0 -40px;
  }

  .contact .contact__item {
    padding: 0 40px;
  }

  .schedule-contact {
    margin: 0 -15px;
  }

  .schedule-contact .schedule-contact__column {
    padding: 0 15px;
  }
}

@media (max-width: 1024px) {
  .item-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .team .team__item-text {
    margin: 20px 0;
  }

  .team .team__item-icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .team .team__item-icon svg {
    width: 24px;
    height: 24px;
  }

  .gallery .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .gallery .gallery__item_big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1004px) {
  .contact .contact__wrapper {
    padding: 80px 0;
  }

  .contact .contact__items {
    margin: 0 -20px;
  }

  .contact .contact__item {
    padding: 0 20px;
  }

  .contact .contact__schedule {
    padding: 50px 0;
  }

  .schedule-contact {
    margin: 0 -10px;
  }
}

@media (max-width: 992.98px) {
  .quote .quote__body {
    max-width: 700px;
    width: 100%;
  }

  .quote .quote__text::before,
  .quote .quote__text::after {
    font-size: 130px;
  }

  .quote .quote__text::before {
    left: -60px;
    top: -35px;
  }

  .quote .quote__text::after {
    right: -60px;
    bottom: -35px;
  }

  .quote .quote__autor {
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
  .team .team__row_md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .team .team__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    text-align: center;
  }

  .team .team__item-intro {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-height: 300px;
  }

  .team .team__item-info:nth-child(2)::before {
    border-left: 15px solid var(--team-bg);
    right: -25px;
    left: unset;
  }

  .team .team__item-info__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 50px 0;
  }

  .team .team__item-title_small {
    text-align: center;
  }

  .team .team__item-text_small {
    max-width: 100%;
  }

  .team .team__item-input {
    margin: 20px 0 20px;
  }
}

@media (max-width: 978px) {
  .contact .contact__wrapper {
    padding: 60px 0;
  }

  .contact .contact__items {
    display: block;
  }

  .contact .contact__text {
    margin: 0 auto;
  }

  .contact .contact__icons {
    margin-bottom: 40px;
  }

  .contact .contact__btn {
    margin: 0 auto;
  }

  .contact .contact__input {
    margin: 0px 0px 40px 0px;
  }

  .schedule-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .schedule-contact .schedule-contact__column {
    text-align: center;
  }

  .schedule-contact .schedule-contact__item {
    margin: 0px 0px 8px 0px;
  }
}

@media (max-width: 854px) {
  .intro-about {
    display: block;
  }

  .intro-about .intro-about__left,
  .intro-about .intro-about__right {
    min-height: 300px;
  }

  .intro-about .intro-about__info {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .intro-about .intro-about__title {
    font-size: 24px;
    border-width: 8px;
  }
}

@media (max-width: 821px) {
  .quote .quote__body {
    max-width: 100%;
  }

  .quote .quote__text {
    font-size: 20px;
  }

  .quote .quote__text::before,
  .quote .quote__text::after {
    display: none;
  }
}

@media (max-width: 769px) {
  .twit {
    text-align: center;
  }

  .twit .twit__wrapper {
    padding: 50px 0;
  }

  .twit .twit__text {
    font-size: 20px;
  }

  .gallery .gallery__title {
    border-width: 5px;
    font-size: 25px;
    padding: 18px 40px;
  }

  .gallery .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }

  .gallery .gallery__item_big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: 200px;
  }

  .footer .footer__wrapper {
    padding: 100px 0 30px;
  }

  .footer .footer__menu .menu__list {
    display: none;
  }
}

@media (max-width: 768px) {
  .item-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 700px) {
  .menu__body {
    position: fixed;
    width: 100%;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: var(--spring-wood);
    z-index: 6;
    overflow-y: scroll;
  }

  .menu__body.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 10;
  }

  .menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .menu__icon span:first-child {
    top: 0px;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

  .menu__icon.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .menu__icon.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .menu__icon.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .menu__logo {
    display: none;
  }

  .menu__list {
    padding-top: 100px;
    display: block;
    position: relative;
    z-index: 5;
    text-align: center;
  }

  .menu__list_last {
    padding-top: 20px;
  }

  .menu__item {
    margin-bottom: 20px;
  }

  .menu__item::before {
    display: none;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 20px;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    display: block;
    max-width: 120px;
  }

  .footer .footer__wrapper {
    padding: 50px 0 20px;
  }

  .footer .footer__wrapper .header__logo {
    max-width: unset;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .team .team__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .team .team__item-info::before {
    display: none;
  }

  .team .team__item-wrapper {
    padding: 30px 10px;
  }

  .gallery .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .gallery .gallery__item_big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 540px) {
  .contact .contact__wrapper {
    padding: 40px 0;
  }

  .contact .contact__title {
    margin-bottom: 30px;
    font-size: 22px;
    border-width: 5px;
  }

  .schedule-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .schedule-contact .schedule-contact__column {
    margin-bottom: 25px;
  }

  .schedule-contact .schedule-contact__column:last-child {
    margin: 0;
  }

  .schedule-contact .schedule-contact__item {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 481px) {
  .gallery .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .gallery .gallery__item_big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .item-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .item-overlay .item-overlay__links .item-overlay__icon:nth-child(2) {
    margin: 0 40px;
  }
}

@media (max-width: 425px) {
  .quote .quote__slider {
    padding: 45px 10px 25px;
  }

  .quote .quote__autor {
    margin-top: 0px;
  }
}
@supports (-webkit-appearance:none){
.intro-about__left{background-image:url("../img/about/about-bg.webp")}
.quote__wrapper{background-image:url("../img/testimonial/testimpnial-bg.webp")}
.team__item-intro{background-image:url("../img/team/team-bg.webp")}
.twit__wrapper{background-image:url("../img/quote-bg.webp")}
}

 @media (min-width: 992.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1240px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1074px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1004px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 978px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 854px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 821px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 769px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 540px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 481px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}
